@charset "utf=8";

main{
  width: 500px;
  margin: 0 auto;
  position: relative;
}


article{
  position: absolute;
  width: 500px;
  /* top: 50%; */
  left: 50%;
  transform:translateX(-50%);
  text-align: center;
}

i {
  color: var(--main-color);
  font-size: var(--f-size06);
  margin: 30px 0;
}

article p{
  margin: 10px 0;
}

article p:first-of-type{
  font-size: var(--f-size03);
}

article p:last-of-type{
  font-size: var(--f-size02);
}

button {
  width: 230px;
  height: 50px;
  border: none;
  background-color: var(--bg-color02);
  color: var(--f-color01);
  font-weight: bold;
  font-size: var(--f-size02);
  margin: 20px 0;
  transition: 0.3s;
  cursor: pointer;
}

button:hover{
  background-color: var(--main-color);
}