@charset "utf-8";

#join {
  /* border: 1px solid #f00; */
  margin: 100px auto 50px auto;
  width: 100%;
}

#join h2 {
  text-align: left;
  font-size: var(--f-size04);
  font-weight: bold;
  padding-bottom: 5px;
}

#join div.title_box{
  border-bottom: 5px solid var(--bg-color02);
  margin: 50px auto 0 auto;
  box-sizing: border-box;
  width: 95%;
}

/* 이용약관 동의 */
div.join_agree{
  /* border: 1px solid #f00; */
  margin: 0 auto;
  margin-top: 100px;
  width: 95%;
}

#join p.agree_title{
  font-size: var(--f-size03);
  font-weight: bold;
}

div.join_agree_title{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 5px;
  border-bottom: 5px solid var(--bg-color02); 
}

div.join_agree01, div.join_agree02 {
  margin: 10px auto;
  line-height: 20px;
}

span.agree_btn_act{
  display: inline-block;
  transform: rotate(180deg);
}

div.agree_tab02{
  display: none;
}

textarea {
  width: 100%;
  height: 150px;
  border: none;  
  background-color: #F1F1F1;
  margin: 10px auto;
  display: inline-block;
}
/* textarea 스크롤바 숨기기 */
textarea {
  -ms-overflow-style: none; /* 익스플로러, 앳지 */
  scrollbar-width: none; /* 파이어폭스 */
}

textarea::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라 */
}
/* textarea 스크롤바 숨기기 */

p.agree_red{
  font-size: var(--f-size01);
  color: var(--main-color);
}

p.agree_title02{
  font-size: var(--f-size02);
}

span.red{
  color: var(--main-color);
}

p.agree_btn{
  font-size: var(--f-size02);
  cursor: pointer;
}

p.check {
  text-align: right;
  margin-right: 5px;
}

input[type=radio]{
  /*버튼 사각형 만들기.. https://big-blog.tistory.com/9081 */
}

/* 정보입력 */
div.user_data{
  /* border: 1px solid #f00; */
  margin: 0 auto;
  margin-top: 50px;
  width: 95%;
}

div.user_data_title{
  padding-bottom: 5px;
  border-bottom: 5px solid var(--bg-color02);
}

/* 정보입력 form */
form{
  width: 100%;
  margin: 20px auto;
}

form legend{
  display: none;
}

form div:not(.agree_tab){
  margin: 50px auto;
}

form div label:not(.data_email_agree, .use_agree){
  display: block;
  font-size: var(--f-size02);
  margin-bottom: 10px;
  font-weight: bold;
}

form div input{
  height: 50px;
  text-indent: 5px;
  color: #b9b6b6;
}

form div input:not(#use_agree01, #use_agree02, #data_email, #data_email02, #data_email_agree){
  width: 100%;
}

div.data_email>input{
  width: 46.7%;
}

#mail_select{
  display: inline-block;
  width: 100%;
  height: 50px;
  margin: 10px auto;
  text-indent: 10px;
  color: #b9b6b6;
}

p.small{
  font-size: var(--f-size01);
  margin:5px;
}

div.data_email_agree{
  position: relative;
}

p.email_check{
  text-align: right;
  margin-right: 5px;
}

div.box_commit > input, button[type=button]{
  width: 100%;
  height: 50px;
  display: inline-block;
  margin: 10px auto;
  font-size: var(--f-size02);
  font-weight: bold;
  cursor: pointer;
}

input[type=submit]{
  background-color: var(--bg-color02);
  color: var(--f-color01);
  margin: 50px auto 100px auto;
  text-indent: 0;
}

button[type=button]{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--f-color02);
}


