@charset "utf-8";

#login {
  /* border: 1px solid #f00; */
  margin: 100px auto 50px auto;
  width: 95%;

}

#login h2 {
  text-align: left;
  font-size: var(--f-size04);
  font-weight: bold;
  /* padding-bottom: 5px; */
}

#login p.title{
  font-size: var(--f-size02);
  margin: 10px 0;
}

div.title_box{
  border-bottom: 5px solid var(--bg-color02);
  margin: 10px auto;
  width: 95%;
}

fieldset {
  width: 95%;
  margin: 0 auto;
}

#login form fieldset p {
  margin: 30px 0;
}

label{
  font-size: var(--f-size02);
  display: block;
  font-weight: bold;
}

input[type=email], input[type=password]{
  width: 100%;
  height: 60px;
  text-indent: 10px;
  font-size: var(--f-size02);
  margin: 0 auto;
  display: block;
}

#login form fieldset ul.ul_login {
  display: flex;
  justify-content: end;
  margin-right: 3%;
}

#login form fieldset ul.ul_login li{
  margin: 0 7px;
  position: relative;
}

#login form fieldset ul.ul_login li::after{
  content: "|";
  position: absolute;
  right: -10px;
}

#login form fieldset ul.ul_login li:last-child{
  margin-right: 0;
}

#login form fieldset ul.ul_login li:last-child::after{
  content: "";
}

#login form fieldset ul.ul_login li a{
  font-size: var(--f-size02);
  color: var(--f-color03);
}

input[type=submit]{
  width: 100%;
  height: 60px;
  background-color: var(--bg-color02);
  color: var(--f-color01);
  font-size: var(--f-size02);
  font-weight: bold;
  margin: 50px auto 100px auto;
  display: block;
  cursor: pointer;
  border:none;
}

div.sns_box p {
  font-weight: bold;
  font-size: var(--f-size02);
  padding: 20px 0;
  border-bottom: 5px solid var(--bg-color02);
}

div.sns_box ul{
  display: flex;
  justify-content: space-evenly;
}

div.sns_box ul img{
  width: 70%;
}





