@charset "utf-8";

/* ν—¤λ” */
header {}
/* ν‘Έν„° */
hr{margin: 0px;}
footer {
  width: 100%;
}
.f_top{
  position: relative;
  width: 1200px;
  height: 80px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_left{
  display: flex ;
}
.f_left h1 a img{
  width: 110px;
  height: 50px;
  margin-right: 12px;
  display: inline-block;
  object-fit: fill;
}
.f_nav_ul{
  width: 100%; height: 100%;
  display: flex;
  align-items: center;
}
.f_nav_ul li{
  padding: 12px;
  font-size: 14px;
}
.f_nav_ul li::after{
  width: 1px; height: 15px;
  margin-left: 12px;
  background: #ccc;
  content: '';
  display: inline-block;
  position: absolute
}
.f_nav_ul li:last-child::after{
  content: none;
}
.f_nav_ul > li:nth-child(2){
  color: var(--main-color);
}
.f_right{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
  position: relative;
}
.f_right img{
  width: 110px;
  height: 20px;
  object-fit: fill;
  display: inline-block;
}
.f_right img:nth-child(4){
  width: 40px;
}
.f_right img:last-child{
  width: 70px;
}
.f_address{
  width: 1200px;
  margin: 0px auto;
  padding-top: 20px;
}
.f_address address p{
  padding-bottom: 16px;
  color: #ccc;
  font-size: var(--f-size01);
}
.f_address address p span{
  margin-right: 20px;
}
.f_address address p span::after{
  content: '';
  width: 1px;
  height: 15px;
  margin: 0px 10px;
  background: #ccc;
  position: absolute;
  top: 100px;
}
.f_address address p span:last-child::after{
  content: none;
}