@charset "utf-8";

body{
  background: url(../../images/intro_bg06.png);
  background-size:auto;
}
header{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px; left: 0px;
  background: var(--bg-color03);
}


/* 기업소개 1번 섹션 */
#intro_sec01{
  width: 100%; height: 100vh;
  text-align: center;
  position: relative;
}
.sec01_txt{
  position: absolute;
  top: 50%; left: 50%; 
  transform: translate(-50%, -50%);
}
.sec01_txt h2{
  font-size:var(--f-size06);
  padding: 20px;
}
.sec01_txt h3{
  font-size: var(--f-size05);
  padding: 20px;
}
.sec01_txt p{
  font-size: 1.25rem;
  padding: 20px;
}


/* 기업소개 2번 섹션 */
#intro_sec02{
  width: 100%; height: 600px;
  position: relative;
  text-align: center;
  padding: 50px 0px; 
  background: linear-gradient(180deg, rgba(255, 254, 254, 0) 0%, #fff 17.29%, #fff 82.43%, rgba(255, 254, 254, 0) 99.48%);
}
#intro_sec02 h2{
  font-size: 120px;
  text-transform: uppercase;
  color: rgba(49, 27, 25, 0.1);
  line-height: 220px;
}
.ceo_ms{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.ceo_ms h3{
  font-size: var(--f-size06);
  padding: 20px 0px;
}
.ceo_ms p{
  color: #666;
  padding: 20px 0px;
  font-size: var(--f-size02);
}
.ceo_ms p:first-of-type{
  font-size: var(--f-size03);
}
.ceo_ms img{
  display: inline-block;
  width: 140px;
  position: absolute;
  right: -100px;
}


/* 기업소개 3번 섹션 */
#intro_sec03{
  width: 100%;
  position: relative;
  padding: 100px 0px; 
}
.sec03_box{
  width: 1200px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.info_img{
  box-shadow: 10px 20px 50px 5px rgba(0, 0, 0, 0.3);  
  height: 100%;
}
.info_img img{
  display: inline-block;
  width: 450px;
  vertical-align: top;
}
.info_txt{
  width: 50%;
  margin-top: 300px;
  animation: fadein 3s;
  display: none;
}
@keyframes fadein{
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }

}
.info_txt h2{
  position: relative;
  font-size: 96px;
  text-transform: uppercase;
  color: rgba(49, 27, 25, 0.1);
  /* top: -70px; */
}
.info_txt h3{
  font-size: var(--f-size04);
  padding-bottom: 50px;
}
.info_txt p{
  font-size: var(--f-size02);
  padding-bottom: 30px;
  color: var(--f-color03);
  letter-spacing: 0.05rem;
  line-height: 30px;
  font-weight: bold;
}
.info_txt p span{
  color: var(--main-color);
  font-weight: bold;
  font-size: var(--f-size03);
}
.info_txt a{
  padding: 10px 50px;
  border: 1px solid#333;
}



/* 기업소개 4번 섹션 */
#intro_sec04{
  width: 100%;
  position: relative;
  padding: 100px 0px; 
}
.sec04_box{
  width: 1200px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.esg_txt{
  width: 50%;
  animation: fadein2 3s;
  display: none;
  text-align: right;
}
@keyframes fadein2{
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }

}
.esg_txt h2{
  position: relative;
  font-size: 96px;
  text-transform: uppercase;
  color: rgba(49, 27, 25, 0.1);
}
.esg_txt h3{
  font-size: var(--f-size04);
  padding-bottom: 50px;
}
.esg_txt p{
  font-size: var(--f-size02);
  color: var(--f-color03);
  padding-bottom: 50px;
  line-height: 30px;
  font-weight: bold;
}
.esg_txt p span{
  color: var(--main-color);
  font-weight: bold;
  font-size: var(--f-size03);
}
.esg_txt a{
  padding: 10px 50px;
  border: 1px solid#333;
}
.esg_img{
  margin-top: 300px;
} 
.esg_img img{
  width: 450px;
  display: inline-block;
  box-shadow: 10px 20px 50px 5px rgba(0, 0, 0, 0.3);  
}


/* 기업소개 5번 섹션 */
#intro_sec05{
  width: 100%;
  text-align: center;
  padding: 100px 0px; 
}
#intro_sec05 h2{
  font-size: var(--f-size05);
  color: var(--f-color03);
}
.sec05_p{
  font-size: var(--f-size03);
  color: var(--f-color03);
  padding: 50px 0px;
}
.tab_map{
  width: 1200px;
  margin: 0px auto;
  position: relative;
}
.tab_map ul{
  display: flex;
}
.tab_map ul li{
  width: 25%; height: 60px;
  text-align: center;
  background: var(--bg-color01);
  box-sizing: border-box;
  line-height: 60px;
}
.tab_map ul li a{
  display: block;
  line-height: 60px;
  font-size: var(--f-size02);
}
.tab_map .con{
  width: 100%; height: 540px;
  position: absolute;
  left: 0px;
}

.c01{z-index: 5;}
.c02{z-index: 4;}
.c03{z-index: 3;}
.c04{z-index: 2;}

.con_sub{
  width: 100%;
  position: relative;
  bottom: 0px; left: 0px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.con_sub p{
  font-size: var(--f-size03);
  line-height: 25px;
  color: var(--f-color03);
  margin: 30px 0px;
}
.con_sub p:first-of-type{
  font-weight: bold;
}
.con_sub p img{
  vertical-align: text-bottom;
}
.tf{
  width: 150px;
  /* padding: 0px 20px; */
  font-size: var(--f-size02) !important;
}
.tf b{
  font-weight: bold;
  font-size: var(--f-size03);
}
.con_sub_num{
  display: flex;
  align-items: center;
}
.con_sub_bus{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.con_sub_bus img{
  width: 70px; height: 70px;
}
.con_sub_bus P{
  font-size: var(--f-size02);
  color: var(--f-color03);
  line-height: 25px;
  text-align: left;
}
.con_sub_bus P b{
  font-size: var(--f-size03);
}



.act{
  border-bottom: 2px solid var(--main-color);
}
.act2{
  font-weight: bold;
  color: var(--main-color) !important;
}

/* 버튼 효과 */
.m_btn{
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 10px 50px;
  color: var(--f-color03);
  border: 1px solid var(--bg-color03);
  transition: all 0.5s;
}
.m_btn:hover{
  color: var(--f-color01);
  border: 1px solid var(--main-color);
}
.m_btn::before{
  content: "";
  position: absolute;
  top: 0px; left:100%;
  width: 100%; height: 100%;
  background: var(--main-color);
  transition: left 0.5s;
  z-index: -1;
  /* visibility: hidden; */
}
.m_btn:hover::before{
  animation-name: bgMove;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-iteration-count: 50%;
  color: var(--f-color01);
  left: 0;
  /* visibility: visible; */
}
@keyframes bgMove {
  0% {
    transform:translateX(-200%);
  }
  100% {
    transform:translateX(0);
  }
}