@charset "utf-8";

body{
  background: url(../../images/intro_bg.png);
  background-size: cover;
}
header{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px; left: 0px;
  background: var(--bg-color03);
}


/* 기업소개 1번 섹션 */
#intro_sec01{
  width: 100%; height: 100vh;
  text-align: center;
  position: relative;
}
.sec01_txt{
  position: absolute;
  top: 50%; left: 50%; 
  transform: translate(-50%, -50%);
}
.sec01_txt h2{
  font-size:var(--f-size06);
  padding: 20px;
}
.sec01_txt h3{
  font-size: var(--f-size05);
  padding: 20px;
}
.sec01_txt p{
  font-size: 1.25rem;
  padding: 20px;
}


/* 기업소개 2번 섹션 */
#intro_sec02{
  width: 100%; height: 600px;
  position: relative;
  text-align: center;
  padding: 50px 0px; 
}
#intro_sec02 h2{
  font-size: 120px;
  text-transform: uppercase;
  color: rgba(49, 27, 25, 0.1);
  line-height: 220px;
}
.ceo_ms{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.ceo_ms h3{
  font-size: var(--f-size06);
  padding: 20px 0px;
}
.ceo_ms p{
  color: #666;
  padding: 20px 0px;
  font-size: var(--f-size02);
}
.ceo_ms p:first-of-type{
  font-size: var(--f-size03);
}
.ceo_ms img{
  display: inline-block;
  width: 140px;
  position: absolute;
  right: -100px;
}


/* 기업소개 3번 섹션 */
#intro_sec03{
  width: 100%;
  position: relative;
  padding: 100px 0px; 
}
#intro_sec03::after{
  content: '';
  display: table;
  clear: both;
}
.info_img{
  float: left;
  margin-left: 400px;
  box-shadow: 10px 20px 50px 5px rgba(0, 0, 0, 0.3);  
}
.info_img img{
  display: inline-block;
  width: 450px;
  vertical-align: top;
}
.info_txt{
  width: 600px;
  float:right;
  margin: 300px 400px 0px 0px ;
  padding: 0px 20px 50px 20px;
  /* background: var(--bg-color01);
  box-shadow: 10px 20px 50px 5px rgba(0, 0, 0, 0.3); */
}
.info_txt h2{
  position: relative;
  font-size: 96px;
  text-transform: uppercase;
  color: rgba(49, 27, 25, 0.1);
  /* top: -70px; */
}
.info_txt h3{
  font-size: var(--f-size04);
  padding-bottom: 50px;
}
.info_txt p{
  font-size: var(--f-size02);
  padding-bottom: 30px;
  color: var(--f-color03);
  letter-spacing: 0.05rem;
  line-height: 30px;
  font-weight: bold;
}
.info_txt p span{
  color: var(--main-color);
  font-weight: bold;
  font-size: var(--f-size03);
}
.info_txt a{
  padding: 10px 50px;
  border: 1px solid#333;
}



/* 기업소개 4번 섹션 */
#intro_sec04{
  width: 100%; height: 100vh;
  position: relative;
  padding: 100px 0px; 
}
#intro_sec04::after{
  content: '';
  display: table;
  clear: both;
}
.esg_txt{
  width: 600px;
  padding: 0px 20px 50px 20px;
  margin-left: 300px;
  float: left;
  text-align: right;
  /* box-shadow: 10px 20px 50px 5px rgba(0, 0, 0, 0.3); */
  /* background: #fff; */
}
.esg_txt h2{
  position: relative;
  font-size: 96px;
  text-transform: uppercase;
  color: rgba(49, 27, 25, 0.1);
  /* top: -70px; */
}
.esg_txt h3{
  font-size: var(--f-size04);
  padding-bottom: 50px;
}
.esg_txt p{
  font-size: var(--f-size02);
  color: var(--f-color03);
  padding-bottom: 50px;
  line-height: 30px;
  font-weight: bold;
}
.esg_txt p span{
  color: var(--main-color);
  font-weight: bold;
  font-size: var(--f-size03);
}
.esg_txt a{
  padding: 10px 50px;
  border: 1px solid#333;
}
/* .esg_img{

} */
.esg_img img{
  width: 450px;
  display: inline-block;
  object-fit: fill;
  margin: 200px 150px;
  box-shadow: 10px 20px 50px 5px rgba(0, 0, 0, 0.3);  
}


/* 기업소개 5번 섹션 */
#intro_sec05{
  width: 100%;
  text-align: center;
  padding: 100px 0px; 
}
#intro_sec05 h2{
  font-size: var(--f-size05);
  color: var(--f-color03);
}
#intro_sec05 p{
  font-size: var(--f-size03);
  color: var(--f-color03);
  padding: 50px 0px;
}
.tab_map{
  width: 1200px; height: 600px;
  margin: 0px auto;
  position: relative;
}
.tab_map ul{
  display: flex;
}
.tab_map ul li{
  width: 25%; height: 80px;
  text-align: center;
  border: 1px solid#333;
  background: var(--bg-color01);
}
.tab_map ul li a{
  display: block;
  line-height: 80px;
  font-size: var(--f-size02);
}
.tab_map .con{
  width: 1200px; height: 520px;
  position: absolute;
  bottom: 0px; left: 0px;
}
.c01{background: #f00; z-index: 5;}
.c02{background: #ff0; z-index: 4;}
.c03{background: #f0f; z-index: 3;}
.c04{background: #0f0; z-index: 2;}

.act{
  background: var(--main-color);
  font-weight: bold;
  color: var(--f-color01);
}
