@media screen and (max-width:767px) {

  body{
    background: url(../../images/intro_bg06.png);
    background-size: auto;
  }
  
  /* header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px; left: 0px;
    background: var(--bg-color03);
  } */


/* 기업소개 1번 섹션 */
#intro_sec01{
  width: 100%; height: 100vh;
  text-align: center;
  position: relative;
  color: var(--f-color01);
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0.25;
}
.bg-video > video{
  width: 100%; height: 110%;
  object-fit: cover;
  z-index: -1;
}

.sec01_txt{
  width: 100%;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  text-align: center;
}
.sec01_txt h2{
  font-size:var(--f-size05);
  padding: 10px;
}
.sec01_txt h3{
  font-size: var(--f-size04);
  padding: 10px;
}
.sec01_txt p{
  width: 100%;
  font-size: var(--f-size02);
  padding: 10px;
}


/* 기업소개 2번 섹션 */
#intro_sec02{
  width: 100%; height: 400px;
  position: relative;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 254, 254, 0) 0%, #fff 17.29%, #fff 82.43%, rgba(255, 254, 254, 0) 99.48%);
}
#intro_sec02 h2{
  font-size: var(--f-size06);
  text-transform: uppercase;
  color: rgba(49, 27, 25, 0.1);
}
.sec02_box{
  width: 100%;
  padding: 10px 1rem;
  position: relative;
  top: 50%; 
  transform: translateY(-50%);
  text-align: center;
}
.ceo_ms{
  position: relative;
  transform: translateY(-15%);
  display: none;
}
.ceo_ms h3{
  font-size: var(--f-size05);
  padding: 5px 0px;
}
.ceo_ms p{
  color: #666;
  padding: 5px 0px;
  font-size: var(--f-size01);
}
.ceo_ms p:first-of-type{
  font-size: var(--f-size03);
}
.sec02_box img{
  position: absolute;
  display: inline-block;
  width: 100%;
  max-width: 70px;
  bottom: 0px; right: 0px;
}

/* 기업소개 3번 섹션 */
#intro_sec03{
  width: 100%; height: 100%;
  position: relative;
  padding: 30px 0px; 
}
.sec03_box{
  /* width: 100%; height: 100%; */
  padding: 0px 1rem;
}
.info_img{
  text-align: center;
}
.info_img img{
  display: inline-block;
  width: 100%;
  margin: 0px auto;
  max-width: 300px;
  vertical-align: top;
  box-shadow: 10px 20px 50px 5px rgba(0, 0, 0, 0.3);  
}
.info_txt{
  width: 100%;
  margin-top: 50px;
  opacity: 0;
  transition: 2s;
}
.info_txt.view_intro{
  animation: fadein 3s;
  animation-fill-mode: both;
}
@keyframes fadein{
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }

}
.info_txt h2{
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(49, 27, 25, 0.1);
  /* top: -70px; */
}
.info_txt h3{
  font-size: var(--f-size04);
  padding-bottom: 50px;
}
.info_txt p{
  font-size: var(--f-size02);
  padding-bottom: 30px;
  color: var(--f-color03);
  letter-spacing: 0.05rem;
  line-height: 20px;
  font-weight: bold;
}
.info_txt p span{
  color: var(--main-color);
  font-weight: bold;
  font-size: var(--f-size03);
}
.info_txt a{
  padding: 10px 50px;
  border: 1px solid#333;
}

/* 기업소개 4번 섹션 */
#intro_sec04{
  width: 100%; height: 100%;
  position: relative;
  padding: 50px 0px; 
}
.sec04_box{
  padding: 0px 2rem;
}
.esg_txt{
  width: 100%;
  opacity: 0;
  transition: 2s;
  text-align: right;
}
.esg_txt.view_intro {
  animation: fadein 3s;  
  animation-fill-mode: both;
}

.esg_txt h2{
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(49, 27, 25, 0.1);
}
.esg_txt h3{
  font-size: var(--f-size04);
  padding-bottom: 30px;
}
.esg_txt p{
  font-size: var(--f-size02);
  color: var(--f-color03);
  padding-bottom: 30px;
  line-height: 30px;
  font-weight: bold;
}
.esg_txt p span{
  color: var(--main-color);
  font-weight: bold;
  font-size: var(--f-size03);
}
.esg_txt a{
  padding: 10px 50px;
  border: 1px solid#333;
}
.esg_img{
  margin-top: 50px;
  text-align: center;
} 
.esg_img img{
  width: 100%;
  max-width: 320px;
  vertical-align: top;
  display: inline-block; 
  box-shadow: 10px 20px 50px 5px rgba(0, 0, 0, 0.3); 
}


/* 기업소개 5번 섹션 */
#intro_sec05{
  width: 100%;
  text-align: center;
  padding: 50px 0px; 
}
#intro_sec05 h2{
  font-size: var(--f-size05);
  color: var(--f-color03);
}
.sec05_p{
  font-size: var(--f-size03);
  color: var(--f-color03);
  padding: 30px 0px;
}
.tab_map{
  width: 90%;
  margin: 0px auto;
  position: relative;
}
.tab_map ul{
  display: flex;
}
.tab_map ul li{
  width: 25%; height: 50px;
  text-align: center;
  background: var(--bg-color01);
  box-sizing: border-box;
  line-height: 50px;
}
.tab_map ul li a{
  display: block;
  line-height: 50px;
  font-size: var(--f-size01);
}
.tab_map .con{
  width: 100%; height: 450px;
  position: absolute;
  left: 0px;
}

.c01{z-index: 5;}
.c02{z-index: 4;}
.c03{z-index: 3;}
.c04{z-index: 2;}

.con_sub{
  width: 100%;
  position: relative;
  bottom: 0px; left: 0px;
  margin: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.con_sub p{
  font-size: 1rem;
  line-height: 25px;
  color: var(--f-color03);
  margin: 10px 0px;
}
.con_sub p:first-of-type{
  font-weight: bold;
}
.con_sub p img{
  vertical-align: text-bottom;
  width: 20px;
}
.tf{
  width: 100px;
  /* padding: 0px 20px; */
  font-size: var(--f-size01) !important;
}
.tf b{
  font-weight: bold;
  font-size: 1rem;
}
.con_sub_num{
  display: flex;
  align-items: center;
}
.con_sub_num p img{
  width: 50px; height: 50px;
}
.con_sub_bus{
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.con_sub_bus img{
  width: 50px; height: 50px;
}
.con_sub_bus P{
  font-size: var(--f-size01);
  color: var(--f-color03);
  line-height: 25px;
  text-align: left;
}
.con_sub_bus P b{
  font-size: 1rem;
}

.act{
  border-bottom: 2px solid var(--main-color);
}
.act2{
  font-weight: bold;
  color: var(--main-color) !important;
}

/* 버튼 효과 */
.m_btn{
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 10px 50px;
  color: var(--f-color03);
  border: 1px solid var(--bg-color03);
  transition: all 0.5s;
  font-weight: bold;
}
.m_btn:hover{
  color: var(--f-color01);
  border: 1px solid var(--main-color);
}
.m_btn::before{
  content: "";
  position: absolute;
  top: 0px; left:100%;
  width: 100%; height: 100%;
  background: var(--main-color);
  transition: left 0.5s;
  z-index: -1;
  /* visibility: hidden; */
}
.m_btn:hover::before{
  animation-name: bgMove;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-iteration-count: 50%;
  color: var(--f-color01);
  left: 0;
  /* visibility: visible; */
}
@keyframes bgMove {
  0% {
    transform:translateX(-200%);
  }
  100% {
    transform:translateX(0);
  }
}




}