@charset "utf-8";

/* ν—¤λ” */
header {}
header #mHeader {
  position: relative;
  height: 60px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #mHeader > #logo {
  width: 80px;
}
header #mHeader > #logo img {width: 100%;}

.hamburger .line{
  width: 40px;
  height: 5px;
  background-color: var(--bg-color03);
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}

#menuCheck {display: none;}

#mMenu{
  position: relative;
  transition: all 0.3s ease-in-out;
}

#menuCheck:checked ~ #mHeader #mMenu{transform: rotate(45deg);}

#mMenu:before{
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 5px solid transparent;
  top: calc(50% - 25px); left: calc(50% - 25px);
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}

#menuCheck:checked ~ #mHeader #mMenu:before{
  border: 5px solid var(--bg-color03);
}

#menuCheck:checked ~ #mHeader #mMenu .line:nth-child(2){
  opacity: 0;
}

#menuCheck:checked ~ #mHeader #mMenu .line:nth-child(1){
  transform: translateY(13px);
}

#menuCheck:checked ~ #mHeader #mMenu .line:nth-child(3){
  transform: translateY(-13px) rotate(90deg);
}
/* ν‘Έν„° */
footer {}